:root{
    --border-radius: 1.5rem;
    --clr-bg-black: #212121;
    --clr-bg-blue: #00447c;
    --clr-bg-light-blue: #0b7b9e;
    --clr-bg-grey: #dddace;
    --clr-bg-white: #f2f3f4;
    --clr-text-black: #0c0c0c;
    --clr-text-blue: #002756;
    --clr-text-light-blue: #035b7a;
    --clr-text-grey: #c6c3b6;
    --clr-text-white: #eaeaea;

}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: 'Work Sans', sans-serif;
    height: 100%;
    width:100%;
    /* overflow-y:hidden; */
}
.title{
    display: flex;
    justify-content: center;
    font-size:2rem;
    padding: 0.25rem 0;
}
.carousel-btns{
    font-size:5rem;
    color:rgba(255,255,255,0);
    padding: 0;
    display:flex;
    align-items:center;
    transition: all 500ms;
    background: transparent;
}

.carousel-btns:hover{
    padding: 0 1rem;
    background: rgb(20,0,50);
    background: radial-gradient(
        circle, 
        rgba(20,0,50,1) 0%,
        rgba(20,0,50,0.5) 2.5%,
        rgba(0,0,0,0) 7.5%,
        rgba(0,0,0,0) 100%);
    color:rgba(255,255,255,1);
}